* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
  p & {
    text-decoration: initial;
    color: initial;
  }
}
.signIn-div,
.teacherSignUp-div,
.parentSignUp-div {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(194, 191, 191);
  height: 350px;
  box-shadow: 0 0 2em #c0e8ff;
  margin: 50px auto auto auto;
  width: 300px;
  border-radius: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: auto;
}

button {
  margin-top: 20px;
  width: 75px;
  margin: 20px auto 10px auto;
}
input {
  height: 30px;
}
.user-div {
  margin-bottom: 30px;
}
