* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //   background-image: url('./images/ChildrenBackground.png') repeat 0 0;
}
.App {
  width: 1700px;
  height: 1000px;
  background-image: url('/styles/images/ChildrenBackground.png');
  background-size: 100% 100%;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: 50%;
}
a {
  text-decoration: none;
  color: inherit;
  p & {
    text-decoration: initial;
    color: initial;
  }
}
.nav-div {
  //   background-color: #ecb27b;
  display: flex;
  justify-content: space-around;
}
.div-access {
  display: flex;
  column-gap: 50px;
}

.signIn-div,
.teacherSignUp-div,
.parentSignUp-div {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(194, 191, 191);
  height: 350px;
  box-shadow: 0 0 2em #aee5ef;
  margin: 50px auto auto auto;
  width: 300px;
  border-radius: 20px;
  background-color: #bfdc50;
}

form {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: auto;
}

button {
  margin-top: 20px;
  width: 75px;
  margin: 20px auto 10px auto;
}
input {
  height: 30px;
}
.user-div {
  margin-bottom: 30px;
}

.childName {
  height: 170px;
  width: 300px;
  //   background-color: #aee5ef;
  margin: auto;
  background-color: #bfdc50;
}

.interactingUsers > li {
  margin-bottom: 30px;
  height: 120px;
  width: 300px;
  //   background-color: #aee5ef;
}

.childName > h3 {
  padding-top: 30px;
}
.interactingUsers > ul > li {
  padding-bottom: 20px;
  list-style-type: none;
}
.teacher-board-div {
  display: flex;
  align-items: stretch;
}

.userMessages {
  list-style-type: none;

  border-radius: 20px;
  width: 800px;
  margin: auto;
}

.userMessages > ul > li {
  list-style-type: none;

  border-radius: 20px;
  width: 450px;
  margin: 5px auto auto auto;
  padding-top: 10px;
}
.singleUserMessage {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.singleUserMessage > input {
  height: 48px;
  width: 300px;
  margin: auto;
}
.singleUserMessage > button {
  height: 40px;
  width: 70px;
}

.interactingUsers-li {
  background-color: #bfdc50;
  padding-top: 10px;
  width: 300px;
  margin: 20px auto auto auto;
}
